* {
    font: 1em/1.3 Arial, Helvetica, sans-serif;
}

p {
    color: #555;
}

a {
    color: #CC3300;
}

#primero p {
    color: #336699;
}

#primero em {
    background: #FFCC99;
    padding: .1em;
}

/* El espacio funciona cmo jerarquía, en el caso de em.special está junto porque nos referimos a un único elemento, que conjunta y se escribe <em class=especial>, no hay una jerarquía y por tanto no se debe poner espacio. */
em.especial {
    background: #FFCC99;
    border: 1px solid #ff9900;
    padding: .1em;
}

.normal span {
    font-weight: bold;
}

